body {
  padding: 0px;
  margin: 0px;
}

.Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 10, 5, 0.7);
}

.item-block {
  color: white;
  font-family: 'sans-serif';
  font-size: 5em;
}

.Block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-text {
  display:block;
  color: rgba(150, 25, 30, 0.7);
}
@media only screen and (max-width: 500px) {
  .left-text{
  display:block;
  clear:both;
  }
}