body{
  padding:0px;
  margin:0px
}
.Container{
  display:flex;
  justify-content:space-around;
  width:100vw;
  height:100vh;
  background-color:rgba(295,10,5,0.7);
}
.item-block{
  color:white;
  font-family:'sans-serif';
  font-size:5em
}
.Block{
  display:flex;
  align-items:center;
}
.left-text{
  color:rgba(150,25,30,0.7)
}